@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.pageContainer {
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #eeeeee;
    font-family: "Poppins", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    padding-bottom: 100vh;
}

h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    overflow-x: auto;
}

p {
    margin-bottom: 20px;
}

a {
    color: #4b1768;
    text-decoration: none;
}

img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.mapContainer {
    position: relative;
}

.mapSvgContainer {
    position: absolute;
}

main article:first-child {
    min-width: 400px;
}

table {
    text-align: left;
    background-color: #f2f2f2;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
}

tr {
    text-align: left;
}

thead tr {
    background-color: #4b1768;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #4b1768;
}

td,
th {
    padding: 12px 15px;
    padding-right: 1rem;
    vertical-align: bottom;
}

@media only screen and (max-width: 1800px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 1250px) {
    .pageContainer {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    main {
        grid-template-columns: 1fr;
    }
}
