@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.pageContainer {
    padding-top: 60px;
    background-color: #eeeeee;
    font-family: "Poppins", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    padding-bottom: 100vh;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 30px;
    justify-content: center;
    gap: 30px;
    overflow-x: auto;
}

h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.mapContainer {
    position: relative;
    max-width: 400px;
}

.mapSvgContainer {
    position: absolute;
}

main article:nth-child(2) {
    grid-column-start: 1;
}

main article:nth-child(3) {
    grid-column-start: 2;
}

p {
    margin-bottom: 20px;
}

a {
    color: #4b1768;
    text-decoration: none;
}



table {
    text-align: left;
    background-color: #f2f2f2;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    width: 800px
}

tr {
    text-align: left;
}

thead tr {
    background-color: #4b3159;
    color: #ffffff;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #4b1768;
}

td,
th {
    padding: 15px 0 15px 12px;; 
    vertical-align: bottom;
}

thead tr th:first-child {
    width: 170px;
}

thead tr th:nth-child(2) {
    min-width: 230px;
}
thead tr th:nth-child(3) {
    width: 150px;
}

@media only screen and (max-width: 1400px) {
    main {
        display: block;
    }
    .pageContainer {
        margin-left: 0;
        margin-right: 0;
        padding: 30px 5%;
    }
}
